body {
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   font-size: 1em;
}

.main-container {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 6em 0;
}

.info-section {
   background-color: #ED4C5C;
   /* padding: 6em 0; */
}

.info-container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 80em;
}
.main-info{
   width: 70em;
}
.text-information {
   width: 50em;
   color: #fff;
   margin-right: 10em;
   max-width: 30em;
}

.text-information h2 {
   margin: 0;
   font-weight: 700;
   font-size: 2.5em;
}

.text-information p {
   line-height: 1.35em;
   text-align: justify;
   margin: 3em 0;
}

/* .icons-div {
   margin-top: 40px;
} */

.icon {
   width: 2em;
   height: 2em;
   margin-right: 2em;
}
.img-information{
   width: 50em;
   max-width: 35em;
}
.img-information img{
   width: 100%;
   cursor: pointer;
}

/* .contacts-sectoin{
   padding: 6em 0;
} */
.contacts-container {
   align-items: start;
   justify-content: end;
}

.contacts-text {
   color: #000;
   /* margin-right: 20%; */
}

.form-information {
   /* display: flex;
   flex-direction: column;
   justify-content: start;
   width: 540px; */
    width: 50em;
    max-width: 35em;
}
.form-container{
   width: 100%;
}

.info-input {
   height: 60px;
   border: 1px solid #333333;
   border-radius: 6px;
   color: rgba(19, 39, 67, 0.5);
   /* width: 100%; */
   padding-left: 2em;
}
.info-input:focus{
   color: #000;
}

.name-inputs {
   display: flex;
   justify-content: space-between;
}

.name-input {
   width: 14.5em;
}

.phone-input {
   margin: 24px 0;
   /* width: 507px; */
}
.phone-info{
   width: calc(100% - 2.1em);
}

.submit-bottom {
   margin: 24px 0;
   width: 160px;
   height: 50px;
   border: none;
   background-color: #ED4C5C;
   border-radius: 6px;
   color: #fff;
   cursor: pointer;
}

footer {
   background-color: #FAFAFA;
   /* padding: 85px 0; */
}

.footer-container {
   /* width: 70%; */
   flex-direction: column;
}

.footer-info {
   width: 100%;
   display: flex;
   justify-content: space-around;
   margin-bottom: 86px;
   font-size: 0.85em;
   line-height: 1.28em;
}

/* .footer-info>* {
   width: 254px;
} */

.footer-info h3 {
   font-weight: 700;
   font-size: 1.28em;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #000;
}

.footer-icons {
   margin-top: 21px;
}

.footer-icon {
   width: 1em;
   height: 1em;
   margin-right: 13px;
}

.support-info img {
   width: 15.4em;
}
.footer-copyright{
   width: 88%;
}



.select{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

   height: 60px;
   border: 1px solid #333333;
   border-radius: 6px;
   color: rgba(19, 39, 67, 0.5);
   width: 100%;
   padding-left: 2em;

   background: url(/images/arrow.svg) no-repeat right;
   background-position-x: 98%;
   background-size: 1em;
   padding-left: 31px;
}
/* .selectdiv {
   position: relative;
   padding: 0;
   border: none;
} */


/* select::-ms-expand {
   display: none;
} */

/* .selectdiv:after {
   content: '>';
   font: 17px "Consolas", monospace;
   color: rgba(19, 39, 67, 0.5);;
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
   right: 11px;

   top: 18px;
   padding: 0 0 2px;


   border-right: 2px solid;
   content: '';
   display: block;
   height: 8px;
   margin-top: -6px;
   position: absolute;
   -moz-transform: rotate(135deg);
   -o-transform: rotate(135deg);
   -webkit-transform: rotate(135deg);
   transform: rotate(135deg);
   right: 30px;
   top: 50%;
   width: 0;

   position: absolute;
   pointer-events: none;
} */

/* 
.selectdiv select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

   display: block;
   width: 100%;
   height: 100%;
   border: none;
   -ms-word-break: normal;
   word-break: normal;
   border: 1px solid #333;
   border-radius: 6px;
   color: rgba(19, 39, 67, 0.5);
   padding-left: 31px;
   padding-right: 31px;
   background: url(/images/arrow.svg) no-repeat right;
   background-position-x: 95%;
   background-size: 0.9em;
} */