body {
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   font-size: 1em;
}

.main-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.info-section {
   background-color: #ED4C5C;
   padding: 95px 0;
}

.info-container {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 70%;
}

.text-information {
   width: 480px;
   color: #fff;
   margin-right: 16%;
}

.text-information h2 {
   margin: 0;
   font-weight: 700;
   font-size: 2.5em;
   margin-bottom: 40px;
}

.text-information p {
   line-height: 1.35em;
   text-align: justify;
}

.icons-div {
   margin-top: 40px;
}

.icon {
   width: 2em;
   height: 2em;
   margin-right: 25px;
}
.img-information img{
   width: 533px;
   cursor: pointer;
}

.contacts-sectoin{
   padding: 117px 0 123px;
}
.contacts-container {
   align-items: start;
}

.contacts-text {
   color: #000;
   margin-right: 20%;
}

.form-information {
   display: flex;
   flex-direction: column;
   justify-content: start;
   width: 540px;
}

.info-input {
   height: 60px;
   border: 1px solid #333333;
   border-radius: 6px;
   color: rgba(19, 39, 67, 0.5);
   /* width: 100%; */
   padding-left: 31px;
}
.info-input:focus{
   color: #000;
}

.name-inputs {
   display: flex;
   justify-content: space-between;
}

.name-input {
   width: 42%;
}

.phone-input {
   margin: 24px 0;
   /* width: 507px; */
}

.submit-bottom {
   margin: 24px 0;
   width: 160px;
   height: 50px;
   border: none;
   background-color: #ED4C5C;
   border-radius: 6px;
   color: #fff;
   cursor: pointer;
}

footer {
   background-color: #FAFAFA;
   padding: 85px 0;
}

.footer-container {
   width: 70%;
}

.footer-info {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 86px;
   font-size: 0.85em;
   line-height: 1.28em;
}

.footer-info>* {
   width: 254px;
}

.footer-info h3 {
   font-weight: 700;
   font-size: 1.28em;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #000;
}

.footer-icons {
   margin-top: 21px;
}

.footer-icon {
   width: 1em;
   height: 1em;
   margin-right: 13px;
}

.support-info img {
   width: 15.4em;
}





.selectdiv {
   position: relative;
   padding: 0;
   border: none;
}

select::-ms-expand {
   display: none;
}

.selectdiv:after {
   content: '>';
   font: 17px "Consolas", monospace;
   color: #333;
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
   right: 11px;

   top: 18px;
   padding: 0 0 2px;

   position: absolute;
   pointer-events: none;
}

.selectdiv select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

   display: block;
   width: 100%;
   height: 100%;
   border: none;
   -ms-word-break: normal;
   word-break: normal;
   border: 1px solid #333333;
   border-radius: 6px;
   color: rgba(19, 39, 67, 0.5);
   padding-left: 31px;
}