body{
   background-color: rgb(252, 246, 239);
   margin: 0;
   font-family: 'Noto Sans JP',
   sans-serif;
}

header h1{
   background-color: rgba(129, 58, 0, 0.377);
   margin: 0;
   padding: 10px;
   text-align: center;
}
table{
   width: 600px;
   margin-left: 30%;
   margin-top: 10px;
}
tr:nth-child(even){
   background-color: rgba(129, 58, 0, 0.212);
}
td{
   border: 1px solid rgba(129, 58, 0, 0.212);
   padding-left: 5px;
}
td:first-child{
   border-left: 3px solid rgba(114, 52, 2, 0.76);
   border-radius: 3px 0 0 3px;
}

