body{
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#block-container{
  margin-top: 20px;
  width: 250px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
div
{
 width:50px;
 height:50px;
}
/* .canvas-wrapper{
  margin-top: 30px;
  cursor: pointer;
} */
.none-cursor{
  pointer-events: none;
}