.download-buttons-wrapper 
  button.btn.btn-primary Download
  button.btn.btn-light Download
  button.btn.btn-outline-secondary Download
  button.btn.btn-outline-primary Download

  button.btn.btn-primary 
    span Download
    img(src='./img/download.svg' alt='icon' class='icon')
  button.btn.btn-light 
    span Download
    svg.icon
      use(xlink:href="../../img/icons.svg#download")
  button.btn.btn-outline-secondary 
    span Download
    svg.icon
      use(xlink:href="./img/icons.svg#download")
  button.btn.btn-outline-primary 
    span Download
    svg.icon
      use(xlink:href='../../img/icons.svg#download')

  button.btn.btn-primary 
    svg.icon
      use(xlink:href='../../img/icons.svg#download')
    span Download
  button.btn.btn-light 
    svg.icon
      use(xlink:href='../../img/icons.svg#download')
    span Download
  button.btn.btn-outline-secondary 
    svg.icon
      use(xlink:href='../../img/icons.svg#download')
    span Download
  button.btn.btn-outline-primary 
    svg.icon
      use(xlink:href='../../img/icons.svg#download')
    span Download