.download-buttons-wrapper 
  button.btn.btn-primary.btn__small Download
  button.btn.btn-light.btn__small Download
  button.btn.btn-outline-secondary.btn__small Download
  button.btn.btn-outline-primary.btn__small Download

  button.btn.btn-primary.btn__small 
    span Download
    svg.icon.icon__small
      use(xlink:href="./img/icons.svg#download")
  button.btn.btn-light.btn__small 
    span Download
    svg.icon.icon__small
      use(xlink:href="./img/icons.svg#download")
  button.btn.btn-outline-secondary.btn__small 
    span Download
    svg.icon.icon__small
      use(xlink:href="./img/icons.svg#download")
  button.btn.btn-outline-primary.btn__small 
    span Download
    svg.icon.icon__small
      use(xlink:href="./img/icons.svg#download")

  button.btn.btn-danger.btn__small 
    svg.icon.icon__small
      use(xlink:href="./img/icons.svg#download")
    span Download
  button.btn.btn-light.btn__small 
    svg.icon.icon__small
      use(xlink:href="./img/icons.svg#download")
    span Download
  button.btn.btn-outline-secondary.btn__small 
    svg.icon.icon__small
      use(xlink:href="./img/icons.svg#download")
    span Download
  button.btn.btn-outline-primary.btn__small 
    svg.icon.icon__small
      use(xlink:href="./img/icons.svg#download")
    span Download