.row  
  .col-6  
    .btn-group
      button.btn.btn-primary 
        svg.icon.icon__small
          use(xlink:href='../img/icons.svg#search')
      button.btn.btn-outline-secondary 
        svg.icon.icon__small
          use(xlink:href='../img/icons.svg#search')
      button.btn.btn-outline-secondary 
        svg.icon.icon__small
          use(xlink:href='../img/icons.svg#search')