.col-5 
  .search
    .little.bg-danger
      svg.icon.icon__small
        use(xlink:href='../../img/icons.svg#search')
    .big.bg-success
      svg.icon.icon__small
        use(xlink:href='../../img/icons.svg#search')

  //- -buttons
  //-   button.btn.btn-danger.btn__little 
  //-     svg.icon
  //-         use(xlink:href='../img/icons.svg#search')
  //-   button.btn.btn-success 
  //-     svg.icon
  //-         use(xlink:href='../img/icons.svg#search')