.row.tags-wrapper
  button.btn.btn-outline-secondary.btn__small 
    span tag 
    svg.icon.icon__smallest
      use(xlink:href='../img/icons.svg#close')
  button.btn.btn-primary.btn__small 
    span tag
    svg.icon.icon__smallest
      use(xlink:href='../img/icons.svg#close')
