body{
   display: flex;
   justify-content: center;
   align-items: center;
}

/* index-html */
/* .button-container{
   width: 70%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 130px 0;
} */
.button-content{
width: 70%;
display: flex;
justify-content: space-around;
align-items: center;
margin: 130px 0;
}
.button-content::before, 
.button-content::after {
   content: '';
   display: block;
   height: 8px;
   width: 20%;
   border-top: 2px solid #c4c4c4;
   border-bottom: 2px solid #c4c4c4;
}
button{
   height: 92px;
   width: 501px;
   background-color: #44D3A8;
   border: none;
   border-radius: 100px;
   color: #fff;
   text-transform: uppercase;
   font-size: 24px;
   font-weight: 600;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button:hover{
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
button:enabled{
   outline: none;
}
/* End index-html */

/* divs.html */
.info{
   margin-top: 20px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.back-btn{
   width: 10%;
}
.back-btn button{
   width: 100%;
   height: 50px;
   font-size: 80%;
}
.container{
   display: grid;
   grid-template-columns: 50px 50px 50px 50px;
   grid-auto-rows: 50px;
   grid-gap: 2px;
   margin-top: 5%;
   
}
.item{
   text-align: center;
   background-color: #dfdfdf;
}

.item:nth-last-child(-n+4){
   background-color: #1fa4fdbe;
}
.item:nth-last-child(4n-2){
   background-color: rgb(255, 32, 32);
}