body{
   background-color: rgb(36, 34, 34);
   color: #fff;
   font-family: Tahoma, sans-serif;
}
.border{
   border: 1px solid #555;
   border-radius: 4px;
   width: 40em;
   margin: 1.5em;
   background-color: rgba(61, 61, 61, 0.2);
}
table{
   width: 100%;
   text-align: left;
   border-collapse: collapse;
}
th:first-child{
   width: 50%;
}
th:last-child{
   padding: 0;
   padding-right: 3px;
}
th{
   padding: 10px 5px;
}
td{
   border-top: 1px solid #555;
   width: 25%;
}
td:last-child{
   text-align: right;
}
td:nth-child(2n+1), 
th:first-child{
   padding: 8px 15px;
}

.input-group{
   background-color: rgba(70, 70, 70, 0.6);
   border-radius: 3px;
   height: 30px;
   display: flex;
   align-items: center;
}
.search-btn,
.search-input {
   background: none;
   border: none;
}
.search-btn{
   cursor: pointer;
}
.search-input{
   width: 60%;
   color: #fff;
}
.search-input:focus{
 outline: none;
}
.icon{
   width: 12px;
   height: 12px;
}