body{
   background-color: rgb(36, 34, 34);
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
}
.border{
   border: 1px solid #555;
   border-radius: 4px;
   width: 40em;
   margin: 1.5em;
}
table{
   width: 100%;
   text-align: left;
   border-collapse: collapse;
}
th:first-child{
   width: 50%;
}
th{
   padding: 5px;
}
td{
   border-top: 1px solid #555;
}
td:last-child{
   text-align: right;
}
td:nth-child(2n+1), th:nth-child(2n+1){
   padding: 5px 15px;
}